<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%','height': '25%'}" [numVisible]="8" [circular]="true"
            [autoPlay]="true" [transitionInterval]="4000" [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true"> 
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.previewImageSrc" style="width: 100%; height:650px; display: block;" />
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc"/>
                        </div>
                    </ng-template>
            </p-galleria>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <p-accordion [multiple]="true">
                    <p-accordionTab header="GESTIÓN">
                        <p>El módulo de gestión de docentes es una herramienta esencial para el control y monitoreo
                           de los docentes asi como también la administración de los mismos. Este módulo permite la configuración de parámetros como estados, códigos y otros detalles relevantes para el seguimiento y gestión de la información del cuerpo docente.
                        </p>
                    </p-accordionTab>
                    <p-accordionTab header="PROCESOS">
                        <p>El módulo de Procesos es una herramienta que permite la gestión de información relacionada 
                            con la creación de proyectos y la asignación de horas a los docentes. Este módulo cuenta con opciones
                            para la creación de perfiles de proyectos y la asignación de horas a los docentes, así como un módulo para la gestión
                            de información relacionada con los libros y artículos que se producen durante el desarrollo de los proyectos.</p>
                    </p-accordionTab>
                    <p-accordionTab header="REPORTES    ">
                        <p>El módulo de Reportes es una herramienta que permite generar informes personalizados
                            a partir de la información registrada en los módulos de Procesos y Acreditación. 
                            Este módulo cuenta con opciones para la selección de los datos que se incluirán en el informe, 
                            así como para la personalización de los filtros y exportación del informe.</p>
                    </p-accordionTab>
                </p-accordion>
            </p-card>
        </div>
    </div>
</div>


