<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 card-header">
                        <h3>ARTÍCULOS</h3>
                    </div>
                </ng-template>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Código-UG:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Titulo publicación:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">DOI:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Base de datos indexada:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Código ISSN:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Tipo de indexación:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Nombre revista:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Número revista:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Quartil:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">SJR/JCR:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Fecha publicación:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Campo detallado:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Estado:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Link publicación:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Link revista:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">FILIACIÓN UG:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Dominio científico:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Linea de investigacion:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Sublinea de investigacion:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Cedula 1:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Docente UG 1:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Participacion 1:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Modalidad de contrato 1:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Cedula 2:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Docente UG 2:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Participacion 2:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Modalidad de contrato 2:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Cedula 3:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Docente UG 3:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Participacion 3:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Modalidad de contrato 3:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Cedula 4:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Docente UG 4:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Participacion 4:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Modalidad de contrato 4:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Cedula 5:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Docente UG 5:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Participacion 5:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Modalidad de contrato 5:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Titulo proyecto FCI:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                        <label for="txtNombre" class="col-sm-3 col-form-label">Observacion:</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <input type="text" id="txtNombre" pInputText [(ngModel)] = 'txtNombre'> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button class="mr-sm-2 p-button-primary" pButton type="button" iconPos="left" label="Guardar articulo" (click)="guardarEstado()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <h4>Listado de articulos</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="bloques" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                            (onRowSelect)="onRowSelectBloque($event)" (onRowUnselect)="onRowUnselectBloque($event)"
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Codigo-UG</th>
                                        <th>Titulo pulicacion</th>
                                        <th>DOI</th>
                                        <th>Base de datos indexada</th>
                                        <th>Codigo ISSN</th>
                                        <th>Tipo de indexación</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bloque>
                                    <tr [pSelectableRow]="bloque">
                                        <td>{{bloque.id}}</td>
                                        <td>{{bloque.nombre}}</td>
                                        <td>{{bloque.estado}}</td>
                                        <td>{{bloque.estado}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
<p-toast position="top-center" key="myKey1"></p-toast>