<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 card-header">
                        <h3>REPORTES DE PROYECTOS FCI</h3>
                    </div>
                </ng-template>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Fecha inicial :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-calendar"></i>
                                    </span>
                                    <p-calendar inputId="basic" [(ngModel)]="fechaInicio"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Fecha final :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-calendar"></i>
                                    </span>
                                    <p-calendar inputId="basic" [(ngModel)]="fechaFin"></p-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Estado:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="estados" [(ngModel)]="selectedEstado" optionLabel="nombre" optionValue="nombre" placeholder="Seleccione el estado ..."></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-3 col-form-label">Director:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="directores" [(ngModel)]="selectedDirector" optionLabel="nombreCompleto" optionValue="id" placeholder="Seleccione director ..."></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">    
                        <button class="mr-sm-2 p-button-primary" pButton type="button" iconPos="left" label="Consultar información" (click)="consultar()"></button>
                    </div>
                    <div class="col-4">
                        <button class="mr-sm-2 p-button-primary" pButton type="button" iconPos="left" label="Exportar a excel" (click)="exportExcel()"></button>
                    </div>
                </div>     
                
                <div class="row">
                    <div class="col-12">
                        <h4>Proyectos FCI</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="proyectos" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id proyecto</th>
                                        <th>Nombre proyecto</th>
                                        <th>Convocatoria</th>
                                        <th>Estado</th>
                                        <th>Fecha inicio</th>
                                        <th>Fecha fin</th>
                                        <th>Director</th>
                                        <th>Correo director</th>
                                        <th>Teléfono director</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-proyecto>
                                    <tr [pSelectableRow]="proyecto">
                                        <td>{{proyecto.idProyecto}}</td>
                                        <td>{{proyecto.nombre}}</td>
                                        <td>{{proyecto.convocatoria}}</td>
                                        <td>{{proyecto.estado}}</td>
                                        <td>{{proyecto.fechaInicio}}</td>
                                        <td>{{proyecto.fechaFin}}</td>
                                        <td>{{proyecto.nombrecompletoDirector}}</td>
                                        <td>{{proyecto.correoDirector}}</td>
                                        <td>{{proyecto.telefonoDirector}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
<p-toast position="top-center" key="myKey1"></p-toast>